# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\FPT_Polytechnic\ky_5\java4\IdeaProjects\SOF3011_IT17311_thanhldph22749\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
